/*Hovedfarger i bruk på siden*/
:root {
    --main-red:#D90000; 
    --hover-red: #fd0101;
    --grey: #E5E5E4;
    --drop-grey: #445964;
    /*dark mode*/
    --dark-grey: #414141;
    --white: #fff;
}

/*Main class styling*/
.flexContainer {
    margin-top: 20px;
    margin-bottom: 65px;
    gap: 2em;
}

.sportsContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    max-width: 100vw;
    /* gap will need adjusting accordingly*/
    gap: 2em;
    padding: 1rem;
}

.divCard {
    display: flex;
    flex-direction: row;
    gap: 2.5em;
}

.infoCard {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--dark-grey);
    border-radius: 10px;
    padding: 25px;
    gap: 2rem;
    /*adjust height and width to fit content*/
    max-width: 31.5em;
    /* min-width: 30em; */
    height: 31.5em;
    text-align: center;
}

.location {
    margin-top: 30px;
    text-decoration: underline;
    font-weight: bolder;
}

.imgBox {
    border: 1px solid var(--dark-grey);
    border-radius: 10px;
    max-width:31.5em;
    max-height: 31.5em;
    min-width:31.5em;
}

/*Egne klasser til bildene for å kunne justere dem riktig i henhold til imgBox*/
.imgKarate {
    max-width: 31.4em;
    max-height: 31em;
    border-radius: 10px;
}



/*footer*/
.contactInfo {
    background-color: var(--main-red);
    width: 100%;
    min-height: 66px;
    padding: 20px;
}




/* Add media querys! */
@media (max-width: 900px) {
    .infoCard {
        max-width: 300epx;
        min-width:20em;
        max-height: 500px;
    }
    .imgBox {
        max-width: 300px;
        min-width: 20em;
        /* max-height: 500px; */
    }
}

/*Fix the mess above*/