:root {
    --main-red:#D90000; 
    --hover-red: #fd0101;
    --grey: #E5E5E4;
    --drop-grey: #445964;
    /*dark mode*/
    --dark-grey: #414141;
    --white: #fff;
}

.flexContainer {
    margin-top: 20px;
    margin-bottom: 65px;
    gap: 2em;
}

.sportsContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    max-width: 100vw;
    /* gap will need adjusting accordingly*/
    gap: 2em;
    padding: 1rem;
}

.divCard {
    display: flex;
    flex-direction: row;
    gap: 2.5em;
}

.infoCard {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--dark-grey);
    border-radius: 10px;
    padding: 25px;
    gap: 2rem;
    /*adjust height and width to fit content*/
    max-width: 30em;
    min-width:15em;
    height: 30em;
    text-align: center;
}

.imgBox {
    border: 1px solid var(--dark-grey);
    border-radius: 10px;
    max-width:30em;
    max-height: 30em;
    min-width:28em;
}

.imgKarate {
    max-width: 29em;
    max-height: 29em;
    border-radius: 10px;
}

/* .karate {
    //adjust for img from html
    width: 28em;
} */




/* Add media querys! */