/* Splash video */

.flexContainer {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.splashContainer {
    padding-top: 65px;
}

.wordsV {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    list-style-type: none;
    font-weight: bold;
    font-size: 40px;
    z-index: 1;
    text-shadow: 1px 1px 12px var(--col_fg);
}
.wordsV li {
    color: var(--col_bg);
}

.videoContainer {
    height: 700px;
    width: 100%;
    position: relative;
}

.videoContainer video {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}

.videoContainer .caption {
    z-index: 1;
    position: relative;
    text-align: center;
    color: var(--text);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Animasjon på tekst over splash */

.caption .liI {
    animation: text1 1.5s linear forwards;
}

@keyframes text1 {
    0% {
        transform: translateY(-200px) scaleY(0.9);
        opacity: 0;
    }
    5% {
        opacity: 0;
    }
    50% {
        transform: translateY(0px) scaleY(1);
        opacity: 0;
    }

    100% {
        transform: translateY(0px) scaleY(1);
        opacity: 1;
    }
}

.caption .liI {
    animation-delay: 0.2s;
    opacity: 0;
}

.caption .liT {
    animation: text2 2.5s linear forwards;
}

@keyframes text2 {
    0% {
        transform: translateY(-200px) scaleY(0.9);
        opacity: 0;
    }
    5% {
        opacity: 0;
    }
    50% {
        transform: translateY(0px) scaleY(1);
        opacity: 0;
    }

    100% {
        transform: translateY(0px) scaleY(1);
        opacity: 1;
    }
}

.caption .liT {
    animation-delay: 0.4s;
    opacity: 0;
}

.caption .liM {
    animation: text3 3.5s linear forwards;
}

@keyframes text3 {
    0% {
        transform: translateY(-200px) scaleY(0.9);
        opacity: 0;
    }
    5% {
        opacity: 0;
    }
    50% {
        transform: translateY(0px) scaleY(1);
        opacity: 0;
    }

    100% {
        transform: translateY(0px) scaleY(1);
        opacity: 1;
    }
}

.caption .liM {
    animation-delay: 0.5s;
    opacity: 0;
}

.caption .liU {
    animation: text4 4.5s linear forwards;
}

@keyframes text4 {
    0% {
        transform: translateY(-200px) scaleY(0.9);
        opacity: 0;
    }
    5% {
        opacity: 0;
    }
    50% {
        transform: translateY(0px) scaleY(1);
        opacity: 0;
    }

    100% {
        transform: translateY(0px) scaleY(1);
        opacity: 1;
    }
}

.caption .liU {
    animation-delay: 0.6s;
    opacity: 0;
}

/* Knapp for påmelding */
.position {
    display: flex;
    justify-content: flex-end;
}
.buttonRegistration {
    background-color: var(--col_tonic);
    border: 2px solid var(--col_alt);
    color: var(--col_fg);
    width: 100px;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
}

button:hover {
    background-color: var(--col_tonic);
}

.buttonRegistrationLink {
    text-decoration: none;
    color: var(--col_fg);
}

/*footer*/
.contactInfo {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    background: var(--col_tonic);
}

.contactInfo * {
    text-shadow: 1px 1px 1px var(--col_fg);
    color: var(--col_bg);
}

.space {
    padding-bottom: 10px;
}

/* Media queries til footer*/
@media (max-width: 426px) {
    .adress {
        padding-left: 50px;
    }

    .contactInfo {
        width: 100%;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }

    .email {
        padding-right: 30px;
    }
}
